:root {
    --backgroundColor: #110E1B;
    --backgroundColor2: #191528;
    --backgroundColor3: #221c36;
    --textColor: #FCFFFC;
    --primaryColor: #ffc107;
    --shadow: 3px 2px 36px 0px rgba(0,0,0,0.24);
}

* {

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--textColor);
}

.distive-root>* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    /* color: var(--textColor); */
    background-color: var(--backgroundColor);
    /* padding: 10px; */
    width: 100%;
   
}

.distive-root {
   /* padding: 100px; */
    width: 100%;
    max-width: 800px;
}

.input-container {
    /* background-color: var(--backgroundColor); */
    /* shadow */
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: var(--backgroundColor3);

    padding: 1em;
}

.textarea-container {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: var(--textColor);
    width: 100%;

}

.textarea-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: var(--textColor);
}


.input-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-color: var(--backgroundColor3);

}

.input-button {
    /* margin-left: 10px; */
    padding: 10px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* line-height: 1.42857143; */
    color: var(--textColor);
    /* background-color: aquamarine; */

}

.thread-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    padding-top: 50px;
    gap: 15px;
    background-color: var(--backgroundColor);
}

.thread-container .post-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    /* border-bottom: 1px solid; */
    /* border-color: rgba(var(--textColor), 0.8); */
    /* border-bottom-width: 1px; */
    /* border-bottom-style: solid; */
    /* border-bottom-color: rgb(47, 51, 54); */
    background-color: #191528;
    border-radius: 10px;
    box-shadow: var(--shadow);

}

.post-menu {
    width: 100%;
    display: flex;
    justify-content: end;
    position: relative;
}

.post-menu-button {
    filter: invert(100%) sepia(34%) saturate(295%) hue-rotate(49deg) brightness(99%) contrast(109%);
    height: 1.5em;
    cursor: pointer;
    width: 1.5em;
    /* background-color: #333; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z' /%3E%3C/svg%3E");
}

.post-menu-list {
    /* decoration none */
    list-style: none;
    color: var(--textColor);
    font-size: 0.8em;
    /* shadow */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: var(--backgroundColor2);
    /* padding: 10px; */
    padding: 0;
    /* position: absolute; */
    /* top: -10px; */

}

.post-menu-item {
    cursor: pointer;
    font-family: 'Helvatica Neue', Helvetica, Arial, sans-serif;
    padding: 10px;
    font-weight: 600;
}

:hover.post-menu-item {
    background-color: var(--backgroundColor3);
}

.post-details {}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    /* padding: 10px; */
    /* background-color: white; */
}

.post-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;

}


.post-avatar.current-user {
    border: 2px solid var(--primaryColor);
}

.post-info_name {
    /*  */
    width: 100%;
}

.post-info_name_text {
    /* font-size: 16px; */
    font-weight: bold;
    font-size: 0.8em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: var(--textColor);
    width: 100%;
    /* background-color: #ffc107; */
}

.post-info_name_date {
    font-size: 0.8em;
}

.post-text_content {
    font-size: 12px;
}

.post-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.reply-button {
    cursor: pointer;
    font-size: .8em;
    color: var(--primaryColor);
}

.reactions-container {
    display: flex;
    gap: 4px;
    flex-direction: row;
    box-shadow: var(--shadow);
}

.reaction {
    background-color: #221C36;
    border-radius: 10px;
    font-size: .8em;
}

.reaction>* {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
}

.reaction-icon {
    height: 1em;
    width: 1em;
}

.reactions-item .reaction-icon {
    height: 1.4em;
    width: 1.4em;
}

.reaction-count {
    cursor: pointer;
    color: var(--textColor);
}

.reactions-select {
    background-color: var(--backgroundColor3);
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    border: dashed 1px var(--textColor);
}

/* Icons */
.icon {
    background-repeat: no-repeat;
}


.icon.input-button {
    cursor: pointer;
    /* width: 0.2em; */
    opacity: .8;
    filter: invert(94%) sepia(9%) saturate(328%) hue-rotate(71deg) brightness(108%) contrast(105%);
}

.icon-react {
    height: 1em;
    width: 1em;
    filter: invert(94%) sepia(9%) saturate(328%) hue-rotate(71deg) brightness(108%) contrast(105%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z' /%3E%3C/svg%3E");
}

.icon-photo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

.icon-link {}

.icon-submit {

    transform-origin: center;
    transform: rotate(90deg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath d='M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z' /%3E%3C/svg%3E");

}

/* Reaction Icons */
.reaction-icon_happy {
    background-repeat: no-repeat;
    filter: invert(84%) sepia(20%) saturate(5854%) hue-rotate(353deg) brightness(104%) contrast(102%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

.reaction-icon_annoyed {
    background-repeat: no-repeat;
    filter: invert(10%) sepia(96%) saturate(4932%) hue-rotate(340deg) brightness(102%) contrast(103%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-7.536 5.879a1 1 0 001.415 0 3 3 0 014.242 0 1 1 0 001.415-1.415 5 5 0 00-7.072 0 1 1 0 000 1.415z' clip-rule='evenodd' /%3E%3C/svg%3E");
}

.reply-container {
    padding-left: 10px;
}

.reply-container .reply-button {
    display: none;
    /* padding: 10px; */
}

.icon-back {
    filter: invert(100%) sepia(34%) saturate(295%) hue-rotate(49deg) brightness(99%) contrast(109%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 19l-7-7 7-7' /%3E%3C/svg%3E");
}

.back-button {
    cursor: pointer;
    font-size: 1em;
    color: var(--textColor);
    display: flex;
    align-items: center;
    padding-left: 10px;
    /* margin-top: 20px; */

}

.back-text {}

.reply-description {
    font-size: .8em;
    padding-left: 10px;
}

.reply-username {
    font-weight: 600;
}

.reactions-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    padding: 10px;
    background-color: var(--backgroundColor3);
    list-style: none;
    border-radius: 10px;
}

.reactions-item {
    aspect-ratio: 1;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.reactions-item:hover {
    background-color: var(--backgroundColor2);
}

.user-info_container {
    background-color: var(--backgroundColor3);
    /* padding: 100px; */
    border-radius: 10px;
    width: min-content;
}




/* CUSTOM Components */
.c_user-info {
    background-color: var(--backgroundColor);
    padding: 20px;
    border-radius: 10px;
    /* width: 50vw; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.c_user-info-image {
    border-radius: 10px;
    width: 60px;
}

.c_user-info-details {
    display: flex;
    gap: 10px;
}

.c_item-count {
    display: flex;
    flex-direction: column;
}

.c_item-count-no {
    font-weight: 600;
    font-size: 20px;
}

.c_user-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    padding: 10px;
    background-color: var(--backgroundColor2);
    list-style: none;
    gap: 10px;
    border-radius: 10px
}

.c_user-item {
    /* padding: 20px; */
    background-color: var(--backgroundColor);
  
    display: flex;
    /* gap: 20px; */
    flex-direction: column;
    border-radius: 5px;
    /* width: ; */
    /* max-width: min-content; */

}

/* .c_user-item:not(last) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(47, 51, 54);
    background-color: #191528;

} */

.c_user-item-preview {
    width: 100%;
    aspect-ratio: 1/1;
    /* max-width: 100px; */
    border-radius: 5px;
}

.c_user-item-name {
    flex: 1;
    font-size: 0.8em;
}

.c_offer-button {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffc107;
    color: #110E1B;
    font-weight: 700;
    width: fit-content;
    text-align: center;
    flex: 2;
    cursor: pointer;
    min-width: 100px;
    font-size: 0.8em;
    /* margin-top: 10px; */
    
}

.c_user-item-details {
    padding: 20px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.c_user-info-name {
    margin:0;
    font-size: 1.5em;
}

.c_user-info-id {
    font-size: 0.6em;
    font-weight: 300;
    opacity: 0.4;
    margin: 0;
}